# backend

backend/node_modules/*
backend/config/default.json
backend/.env

# frontend 

# dependencies
frontend/node_modules

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*

# frontend-admin

# dependencies
frontend-admin/node_modules

# testing
frontend-admin/coverage

# production
frontend-admin/build

# misc
frontend-admin/.DS_Store
frontend-admin/.env.local
frontend-admin/.env.development.local
frontend-admin/.env.test.local
frontend-admin/.env.production.local

frontend-admin/npm-debug.log*
