.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0 120px 0;
}

.headerList {
  display: flex;
  gap: 4em;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 1em;
}

.headerListItem.active {
  border: 2px solid white;
  padding: 16px;
  border-radius: 10em;
}
